*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
#containar{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
}

.btn{
    background-color: #30B868;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top:24px ;
    align-items: center;
}
#containar img{
    width: 139px;
}
#containar .menu{
    display: flex;
    gap:32px ;
    list-style: none;
}

#containar .menu li{
    font-size: 16px;
    font-weight: 500px;
}
#containar .menu a{
    text-decoration: none;
    color: #000000;
    
}
