*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
#containar{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    
}

.btn1{
    background-color: #469165;
    padding: 10px 16px 12px 16px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
   
}
.btn1:hover{
    background-color: #997575;
    cursor: pointer;
    color: rgb(4, 255, 46);
    font-weight: bold;
}
.btn2{
    max-width: 229px;
    padding: 8px 12px 8px 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    cursor: pointer;
}
.btn2:hover{
    background-color: #F95555;
    cursor: pointer;
    color: rgb(4, 255, 46);
    font-weight: bold;
    max-width:250px ;
}
.btn3{
    background-color:rgb(37, 37, 37);
    padding: 10px 16px 12px 16px;
    border:solid 1px #FFFFFF ;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}
.btn3:hover{
    background-color:rgb(185, 185, 36);
    cursor: pointer;
    color: rgb(19, 20, 19);
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top:24px ;
    align-items: center;
    
}
#containar img{
    /* width: 139px;*/ 
}
#containar .menu{
    display: flex;
    gap:32px ;
    list-style: none;
}

#containar .menu li{
    font-size: 16px;
    font-weight: 500px;
}
#containar .menu a{
    text-decoration: none;
    color: #000000;
    
}
#hero-section{
     background: url(assets/hero-bg.png);
     background-repeat: no-repeat;
     width: 100vw;
    background-size: cover;
}    
     
.contant{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 0 179px 0 ;
    
}

.contant h1{
    max-width: 770px;
    margin:16px auto;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
}
.contant p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.contant .green{
    color:#30B868;
}
.button{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.card-containar{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.containar-heading{
    text-align: center;
    padding-top: 40px;
}
.containar-heading h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.containar-heading p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.card-contant{
    width: 322px;
    text-align: center;
    box-shadow: 0 0 8px 0 #d6c8c8;
    padding: 69px 0;
}
.card-contant img{
    width:60px;
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card-contant h2{
    padding: 0 24px;
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    margin-bottom: 16px;

}
.card-contant p{
    padding: 0 24px;
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    line-height: 20px;  
}  


.about-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:120px 0 120px 0 ;
    gap: 60px;
    
}
.knowledge-img img{
    width: 600px;
    

}
    

.about-contant{
    width: 700px;
    padding: 102px 0 102px 60px;
    
    
}
.about-info h3{
    font-size:16px ;
    font-weight: 500px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;

}
.about-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    line-height:100% ;
    margin-bottom: 16px;
}
.about-info p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.about-list p{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px;
}
.icon{
    color: #30B868;
}
.clearly-contant{
    padding: 80px 0 80px 0;
    text-align: center;
}
#containar-1{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto 120px;
    background-color:#F7F6F2 ;
}
.clearly-contant h1{
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    color: #001931;
    margin-bottom: 16px;
}
.clearly-contant p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.button-4{
    margin-bottom: 20px;
}

footer{
    background-color:#001931 ;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}
.footer p{
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer i{
    background-color: #FFFFFF;
    padding: 5px 2px;
    border-radius: 100%;
}
.footer-copyRight{
    padding: 110px 0 30px 0;
    text-align: center;
    
}
.footer-copyRight p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #FAFAFA;
}